<%= form_for @react, :html => { :multipart => true } do |f| %>
  <% if @react.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@react.errors.count, "error") %> prohibited this react from being saved:</h2>

      <ul>
      <% @react.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.file_field :image %>
    <%= f.label :tag %>
    <%= f.text_field :tag_list  %>
    <%= f.hidden_field :album_id, :value => params[:album_id] if params[:album_id].present?  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
